# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Logs
*.log

# Environment files
.env
.env.*

# Lock files
pnpm-lock.yaml
yarn.lock

# Cache
.cache
.turbo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Public assets
public
